<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table class="table-resposive table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
         <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %>
             
              <%= post.comments.each do |comment| %>
                <table>
                  <tr>
                  <td><%= comment.commenter %></td>
                  <td><%= comment.body %></td>
                  <td><%= link_to 'comments',new_post_comment_path(post)%></td>
                </tr>
            </table>
            <% end %>
        </td>
        <td><%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to '<button type="button">New Post</button>'.html_safe, new_post_path %>
 
 