<p id="notice"><%= notice %></p>
  <h1>Posts</h1>
<ul id="users">
  <%= render @posts %>
</ul>
<table class="table-resposive table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%=link_to post.name,post%></td>
        <td><%= post.title %></td>
        <td><%= post.content %>
            <%= form_for([post, post.comments.build])  do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
              <div class="field">
                <%= f.label :commenter %><br />
                <%= f.text_field :commenter %>
              </div>
              <div class="field">
                <%= f.label :body %><br />
                <%= f.text_area :body %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
            <% end %>
            <% post.comments.each do |comment| %>
              <% if post.comments.exists %>
                <table>
                  <thead>
                    <tr>
                      <th><%= comment.commenter %> comments <%= comment.body %></th>
                    </tr>
                  <tbody>
                    <tr>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to 'Edit', edit_post_path(post) %><%= link_to 'delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
<%= link_to '<button type="button">New Post</button>'.html_safe, new_post_path %>
 
 
